
.day-label {
    cursor: pointer;
    color: black;
}

.weekend {
    color: #864141;
}

.day-label:hover {
    text-decoration: underline;

}

.calendar-grid {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(7,30px);
    grid-template-rows: repeat(6,30px);
    gap: 5px;
    font-family: "JetBrains Mono",monospace;
}
.calendar-days{
    grid-area: days;
}
.calendar-week{
    display: grid;
    grid-template-columns: repeat(7,30px);
    grid-template-rows: 30px;
    gap: 5px;
    font-family: "JetBrains Mono",monospace;
}
.calendar-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.bottom-header-container {
    display: flex;
    flex-direction: row;
    gap: 70px;
    width: -moz-available;
    justify-content: center;
    margin: 0 39% 0 39%;
}

.month-label {
    font-family: "JetBrains Mono",monospace;
    font-size: 25px;
}

.month-button {

}