.submit-button {
    align-items: center;
    appearance: none;
    background-color: #327478;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #5a8d90 0 -3px 0 inset;
    box-sizing: border-box;
    color: #aacbce;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    width: 200px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
}

.submit-button-activated {
    background-color: #348657;
}

.submit-button:active {
    transform: translateY(2px);
}

.password-hint-container {
    display: flex;
    text-align: left;
    flex-direction: column;
    background-color: #c2dadc;
    border-radius: 10px;
    padding: 10px;
    width: max-content;
    height: max-content;
    position: absolute;
    top: -8px;
    z-index: 1;
}

.password-hint-label {
    font-size: 10px;
    font-family: "JetBrains Mono",monospace;
    color: #327478FF;
}

.valid-field {
    border: 2px lightgreen solid;
}

.invalid-field {
    border: 2px #e12a2a solid;
}