body {
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.task5-button {
    padding: 8px 12px;
    border-radius: 4px;
    background-color: #717f71;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}
.task5-button:hover {
    background-color: #a9b3a9;
}
.task5-block {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}