
.task3-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.task3-font-style {
    font-family: "JetBrains Mono",monospace;
    padding: 4px;
    margin: 5px;
    background-color: #aeaeae;
    border-radius: 4px;
    font-size: 20px;
    color: #333;
}

.task3-font-ids {
    font-family: "JetBrains Mono",monospace;
    display: list-item;
    width: max-content;
    padding: 4px;
    margin: 5px;
    background-color: #f2f2f2;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
}

.task4-grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.task4-grid {
    display: grid;
    grid-template-columns: repeat(6, 50px);
    grid-template-rows: repeat(5, 50px);
    gap: 2px;
    font-family: "JetBrains Mono", monospace;
}

.task4-cell {
    background-color: #ffffff;
    background-image: none;
    background-repeat: no-repeat;
    background-size: cover;
    border: #454545 solid;
}

.task4-cell-image {
    background-image: url("../assets/circle-64.png");
}
