

.square {
    display: flex;
    width: 100px;
    height: 100px;
}

#black
{
    background: black;
    position: relative;
}

#white
{
    background: white;
    border: 1px solid darkgray;
    position: relative;
    left: -25%;
    top: 25%;
}

.container
{
    display: flex;
    padding-left: 25%;
    width: 200px;
    height: 200px;
    justify-content: space-evenly;
}

